
               

h1{font: size 25px;font-family: 方正舒体;color:rgba(158, 252, 224, 0.747);position:absolute;top:20px;left:300px;}
h2{font: size 20px;font-family: 宋体;color:rgb(0, 0, 0);position:absolute;top:75px;left:325px;}

  
